body{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 30px
}

header input{
    width: 100%;
    max-width: 300px;
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 16px 16px 16px 16px;
    background-color: rgba(255,255,255,0.3);
    border-bottom: 3px solid #8ec5fc;
   

    color: #313131;
    font-size:22px;
    font-weight: 300;
    transition: 0.2s ease-out;
    
}

header input:focus{
    background-color: rgba(255,255,255,0.6);
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .date {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.location .city {
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.current-temp .temp{
    color: white;
    font-size: 120px;
    font-weight: 700;
    margin: 20px 0px;
    text-shadow: 2px 6px rgba(0, 0, 0, 0.5);
}

.current-temp .temp span{
    font-weight: 500;
}

.current-temp .weather{
    color: white;font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0,0 , 0.4);
}

.current-temp .hi-low{
    color: white;
    font-size:24px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}

